import numpy as np
from scipy.optimize import minimize

# Определяем функцию
def f(x):
    x1, x2 = x[0], x[1]
    return x1 * x2**2 + x1**2 * x2 + x1**2 + x2**2
# Выполняем оптимизацию с использованием метода градиентного спуска
x0 = [0, 0]  # Начальная точка
result = minimize(f, x0, method='CG')  # Метод градиентного спуска

# Выводим результаты
print("Найденный экстремум:")
print("x1 =", result.x[0])
print("x2 =", result.x[1])
print("Значение функции в экстремуме:", result.fun)
